{
	email jonah@jonah.pw
}

api.zws.im {
	@preflight {
		method OPTIONS
	}

	header @preflight Access-Control-Allow-Headers "*"
	header Access-Control-Allow-Origin "*"

	respond @preflight 200

	header {
		+User-Agent {http.response.header.Server}
		-Server
	}

	reverse_proxy 127.0.0.1:3000
}

status.zws.im {
	reverse_proxy 127.0.0.1:3001
}

metabase.zws.im {
	reverse_proxy 127.0.0.1:3002
}
