{
	email jonah@jonah.pw
	auto_https disable_redirects
}

(cloudflare_dns) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

(cloudflare_origin_pull) {
	tls {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file ./cloudflare-origin-pull-ca.pem
		}
	}
}

api.zws.im {
	import cloudflare_dns
	import cloudflare_origin_pull

	@preflight {
		method OPTIONS
	}

	header @preflight Access-Control-Allow-Headers "*"
	header Access-Control-Allow-Origin "*"

	respond @preflight 200

	header {
		+User-Agent {http.response.header.Server}
		-Server
	}

	reverse_proxy 127.0.0.1:3000
}

status.zws.im {
	import cloudflare_dns
	import cloudflare_origin_pull

	reverse_proxy 127.0.0.1:3001
}

metabase.zws.im {
	import cloudflare_dns
	import cloudflare_origin_pull

	reverse_proxy 127.0.0.1:3002
}
