{
	email jonah@jonah.pw
	auto_https disable_redirects
}

(cloudflare_dns) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

(cloudflare_origin_pull) {
	tls {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/caddy/cloudflare-origin-pull-ca.pem
		}
	}
}

api.zws.im {
	import cloudflare_dns
	import cloudflare_origin_pull

	@preflight {
		method OPTIONS
	}

	header @preflight Access-Control-Allow-Headers "*"
	header Access-Control-Allow-Origin "*"

	respond @preflight 200

	header {
		+User-Agent {http.response.header.Server}
		-Server
	}

	uri strip_suffix /

	reverse_proxy api:3000
}

status.zws.im {
	import cloudflare_dns
	import cloudflare_origin_pull

	reverse_proxy monitoror:8080
}

metabase.zws.im {
	import cloudflare_dns
	import cloudflare_origin_pull

	reverse_proxy metabase:3000
}

uptimerobot.zws.im {
	redir https://stats.uptimerobot.com/MWv9pT54JQ temporary
}
